# Default ignored files
/../../../../../../../../../../../../COMPRE~1/ADAMWA~1/ADAMWA~1/code/ADAMWA~1/ADAMWA~1/ADAMWA~1/TEMPLA~1/primer/TAILWI~1/PRIMER~1/.idea/shelf/
/../../../../../../../../../../../../COMPRE~1/ADAMWA~1/ADAMWA~1/code/ADAMWA~1/ADAMWA~1/ADAMWA~1/TEMPLA~1/primer/TAILWI~1/PRIMER~1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../../../../../COMPRE~1/ADAMWA~1/ADAMWA~1/code/ADAMWA~1/ADAMWA~1/ADAMWA~1/TEMPLA~1/primer/TAILWI~1/PRIMER~1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../../../../../COMPRE~1/ADAMWA~1/ADAMWA~1/code/ADAMWA~1/ADAMWA~1/ADAMWA~1/TEMPLA~1/primer/TAILWI~1/PRIMER~1/.idea/dataSources/
/../../../../../../../../../../../../COMPRE~1/ADAMWA~1/ADAMWA~1/code/ADAMWA~1/ADAMWA~1/ADAMWA~1/TEMPLA~1/primer/TAILWI~1/PRIMER~1/.idea/dataSources.local.xml
# Zeppelin ignored files
/../../../../../../../../../../../../COMPRE~1/ADAMWA~1/ADAMWA~1/code/ADAMWA~1/ADAMWA~1/ADAMWA~1/TEMPLA~1/primer/TAILWI~1/PRIMER~1/.idea/ZeppelinRemoteNotebooks/
